@import "./assets/fonts/stylesheet.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Maison Neue";
  margin: 0;
}

div {
  display: block;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}
.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Maison Neue";
}
.button-signup {
  margin-right: 20px;
}
.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}
.header-button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 13px;
  height: 38px;
  outline: none;
  width: 115px;
}
button,
input {
  outline: none;
}
button,
input[type="checkbox"] {
  cursor: pointer;
}
.boxfilter {
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.boxfilter2 {
  margin-right: 10px;
}
.checkbox {
  margin-right: 25px;
}
.checkbox input[name="price"] {
  display: none;
}

.checkbox input[type="checkbox"]:checked + .wrapper {
  background-color: #2cb1ba;
}
.checkbox input[type="checkbox"]:checked + .wrapper .knob {
  left: 24px;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

.checkbox .wrapper {
  align-items: center;
  background-color: #2cb1ba;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  outline: none;
  width: 42px;
}
.checkbox .knob {
  align-items: center;
  display: flex;
  justify-content: center;
}

.home-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkbox .knob {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 100%;
  font-weight: 700;
  height: 16px;
  left: 0;
  position: relative;
  transition: left 0.1s ease-in-out 0s;
  width: 16px;
}

.checkbox .knob {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 100%;
  font-weight: 700;
  height: 16px;
  left: 0;
  position: relative;
  transition: left 0.1s ease-in-out 0s;
  width: 16px;
}
.prixentre {
  margin-right: 10px;
}

.filterbor {
  height: 5px;
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    rgb(204, 204, 204) 0%,
    rgb(204, 204, 204) 2%,
    rgb(44, 177, 186) 2%,
    rgb(44, 177, 186) 20%,
    rgb(204, 204, 204) 20%,
    rgb(204, 204, 204) 100%
  );
  align-self: center;
}

.transform {
  transform: scale(1);
  cursor: inherit;
  height: 36px;
  display: flex;
  width: 50%;
}

.tabmin {
  position: absolute;
  z-index: 1;
  cursor: grab;
  user-select: none;
  touch-action: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(44, 177, 186);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(16.78px, -6px);
  border: 1px solid white;
}

.positionmin {
  position: absolute;
  top: -28px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Maison Neue";
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(44, 177, 186);
}

.tabmax {
  position: absolute;
  z-index: 0;
  cursor: grab;
  user-select: none;
  touch-action: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(44, 177, 186);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(83.14px, -6px);
  border: 1px solid white;
}

.positionmax {
  position: absolute;
  z-index: 0;
  cursor: grab;
  user-select: none;
  touch-action: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(44, 177, 186);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(83.14px, -6px);
  border: 1px solid white;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;

  text-rendering: auto;

  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;

  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.header-logo {
  height: 40px;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}

img {
  pointer-events: none;
}

.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}

.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}

.home-hero-bg-img {
  background-image: url("../src/img/vinted.jpg");
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}
.search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

.search-input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}

.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbbbbb;
}

input {
  writing-mode: horizontal-tb !important;

  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.home-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}

.card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 235px;
  color: black;
  text-decoration: none;
}
.card-avatar-username {
  align-items: center;
  display: flex;
  padding: 10px;
}

.card-avatar-username > span {
  color: #999;
  font-size: 12px;
}

.card-container div:last-child img {
  height: 360px;
  object-fit: cover;
  width: 235px;
}

.card-price-size-brand {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.offer-body {
  background-color: #ebedee;
  height: calc(100vh - 60px);
}

.offer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}

.offer-pictures {
  height: 600px;
  object-fit: cover;
}

img {
  pointer-events: none;
}

.offer-picture {
  height: 600px;
  object-fit: cover;
}

.offer-infos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
}

.colorred {
  background: rgb(143, 53, 53);
  color: white;
  border-color: rgb(255, 253, 253);
}
button,
input[type="checkbox"] {
  cursor: pointer;
}

.offer-price {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-container {
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.signup-form {
  margin: auto;
  width: 275px;
}
.signup-login-error-message {
  color: red;
  font-size: 9px;
}
.checkbox-container > div {
  display: flex;
}

.checkbox-container span {
  color: #666;
}

.checkbox-container > p {
  color: #999;
  font-size: 12px;
  text-align: left;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
.signup-form input[type="checkbox"] {
  margin-right: 20px;
  -webkit-transform: scale(2);
  transform: scale(2);
}

.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}

.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}
button,
input {
  outline: none;
}

input {
  writing-mode: horizontal-tb !important;

  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.signup-form button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
}
a {
  margin-top: 20px;
  text-decoration: none;
}
.card-price-size-brand span:first-child {
  font-size: 14px;
}
.card-price-size-brand span:not(:first-child) {
  color: #999;
  font-size: 12px;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-container {
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: 400;

  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.signup-form {
  margin: auto;
  width: 275px;
}

.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.offer-list {
  list-style-type: none;
  padding: 0;
}

.offer-list li {
  display: flex;
  padding: 2px 0;
}

.offer-list span:nth-child(odd) {
  color: #999;
}
.offer-list span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

.offer-list span:nth-child(2n) {
  color: #666;
  font-weight: 700;
}

.offer-infos .divider {
  background: hsla(0, 2%, 11%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}

.offer-content .name {
  font-weight: 700;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.offer-content .description {
  color: #666;
}

.offer-avatar-username {
  align-items: center;
  display: flex;
}

.offer-infos button {
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
}

.publish-main {
  background-color: #ebedee;
}

.publish-container {
  margin: 0 auto;
  width: 1280px;
}

.publish-main h2 {
  font-family: "Maison Neue";
  font-size: 24px;
  padding-top: 40px;
}

form {
  display: block;
  margin-top: 0em;
}

.file-select {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
  padding: 24px;
}

.dashed-preview-without {
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  display: flex;
  height: 200px;
  justify-content: center;
}

.input-design-default,
.input-design-image {
  align-items: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
}

.input-design-default {
  width: 200px;
}

.label-file {
  color: #0ab1ba;
  cursor: pointer;
  font-weight: 700;
}

.label-file > span {
  margin: 0 10px;
  vertical-align: middle;
}

.input-sign {
  font-size: 40px;
}

.text-input-section {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
}

.text-input-section > .text-input:not(:last-child) {
  border-bottom: 1px solid #ebedee;
  height: 25px;
  vertical-align: center;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: initial;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-input > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  width: 50%;
}

.text-input > textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}

text-input > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  width: 50%;
}

.checkbox-section {
  width: 50%;
}

.form-button-div {
  display: flex;
  justify-content: flex-end;
}
.form-validation,
.save-offer {
  font: inherit;
  outline: inherit;
  padding: 12px;
}

.form-validation {
  background-color: #0ab1ba;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
}

.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  margin-bottom: 40px;
}

.input-file {
  display: none;
}

input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

button,
input {
  outline: none;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.payment-wrapper {
  background: #ebedee;
  height: calc(100vh - 59px);
}

.payment-container {
  margin: 0 auto;
  padding: 36px 20px;
  width: 600px;
}

.payment-card summary {
  background: #fff;
}

.payment-card > .title {
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 24px 24px 8px;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}
.payment-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
}

.payment-card li {
  align-items: center;
  color: #666;
  display: grid;
  font-size: 16px;
  grid: auto/1fr auto;
  line-height: 22px;
  padding: 4px 0;
}

.payment-card .divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  margin: 24px 0;
  width: 100%;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}
.payment-card {
  background: #fff;
}

.payment-card .divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  margin: 24px 0;
  width: 100%;
}

.payment-card .content .bold {
  font-weight: 700;
}

.payment-card .content .bold {
  font-weight: 700;
}
.payment-card li.bold {
  color: #111;
  font-weight: 700;
}
form {
  display: block;
  margin-top: 0em;
}
.StripeElement,
.payment-card input {
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  display: block;
  font-family: Source Code Pro, monospace;
  font-size: 1em;
  margin: 10px 0 20px;
  outline: 0;
  padding: 10px 14px;
}

.payment-card button {
  background: #00c06d;
  border: 1px solid;
  border-color: #00c06d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 44px;
  line-height: 22px;
  margin-top: 8px;
  padding: 0 14px;
  width: 100%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
