body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Maison Neue";
  margin: 0;
}

div {
  display: block;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}

.header-logo {
  height: 40px;
}

.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}

img {
  pointer-events: none;
}
